@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.btn_wrapper{display:flex;justify-content:center;align-items:center;align-content:center;flex-wrap:wrap;width:300px;margin:0 auto;min-height:auto;} 
.btn_col{flex:1 1 auto;margin:5px;padding:10px;text-align:center;transition:0.5s;background-size:200% auto;color:#212121;text-shadow:0px 0px 10px rgba(0,0,0,0.2);box-shadow:0 0 20px #eee;border-radius:50px;}
.btn_col:hover{background-position:right center;} 
.btn_color1{background-image:linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);} 
.btn_color2{background-image:linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);} 
.btn_color3{background-image:linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);} 
.btn_color4{background-image:linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);} 
.btn_color5{background-image:linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);}

.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1.1s;
}
.greetings > span:nth-child(7){
    animation-delay: 1.2s;
}
.greetings > span:nth-child(8){
    animation-delay: 1.4s;
}
.greetings > span:nth-child(9){
    animation-delay: 1.6s;
}
.greetings > span:nth-child(10){
    animation-delay: 1.8s;
}
.greetings > span:nth-child(11){
    animation-delay: 2.0s;
}
.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}


